#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;

  }
    
#boxWelcome {
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: #00CA8f;
  }

#boxContent {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #f3f3f3;
  }

#boxProjects {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #ffce00;
  }

#boxContact {
  grid-column: 3/4;
  grid-row: 2/2;
  background-color: #0085ca;
  }